@font-face {
  font-family: emoji;
  /*
    https://xem.github.io/unicode13/emoji.html
  */
  src: url(/Twemoji.ttf);
  /*
    https://github.com/mozilla/twemoji-colr/issues/56
  */
  unicode-range: U+00A9-E007F;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.4);
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

main {
  min-height: 100vh;
  min-height: 100dvh;
  max-width: 1000px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.emergencyButtonWrap {
  opacity: 0.4;
  position: fixed !important;
  bottom: 0;
  right: 0;
  min-height: 20px;
  min-width: 20px;
  z-index: 9999;
}
.emergencyButtonWrap:hover {
  opacity: 1;
}

input[type="button"],
button {
  cursor: pointer;
}

input[type="button"]:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
  background-color: rgba(255, 255, 255, 0.3) !important;
}

textarea {
  border: 2px solid rgba(255, 255, 255, 0.6);
  outline: none;
}
textarea:focus {
  border: 2px solid rgba(255, 255, 255, 0.95);
  box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.7);
  outline: none;
}

.blinkingCursor::after {
  content: "";
  width: 10px;
  height: 1.17em;
  margin-top: 4px;
  margin-left: 4px;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  animation: keyframe-opacity-blinking 0.2s steps(2) infinite;
}

@keyframes keyframe-opacity-blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dialogueElementItem {
  display: flex;
  flex-direction: row;
  line-height: 1.5;
  gap: 8px;
  width: 100%;
  padding: 8px 10px;
  margin: 15px auto 15px;
  border: 2px solid rgba(55, 55, 55, 0.5);
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(55, 55, 55, 0.3);
}

.dialogueElementItemAssistant {
  color: rgba(236, 236, 241, 1);
  background-color: rgba(68, 70, 84, 1);
}

.dialogueElementItemHuman {
  color: rgba(236, 236, 241, 1);
  background-color: rgba(52, 53, 65, 1);
}

.avatarIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 2px;
  backdrop-filter: blur(4px);
}

.avatarIconAssistant {
  border: 2px solid rgba(96, 104, 124, 0.6);
  box-shadow: 0 2px 2px 0 rgba(96, 104, 124, 0.6);
  background-color: rgb(96, 104, 124);
}

.avatarIconHuman {
  border: 2px solid rgba(96, 104, 124, 0.6);
  box-shadow: 0 2px 2px 0 rgba(209, 209, 209, 0.3);
  background-color: rgba(209, 209, 209, 0.4);
}

.emojiWrap {
  background: rgba(55, 55, 55, 0.5);
  backdrop-filter: blur(2px);
  height: 33px;
  margin-right: 10px;
  border-radius: 6px;
  z-index: 1000;
}

.textInputTextarea {
  font-size: 1.25em;
  font-weight: 400;
  color: rgb(236, 236, 241);
  background-color: rgba(64, 65, 79, 0.9);
  border-radius: 2px;
  height: auto;
  line-height: 1rem;
  min-height: 40px;
  max-height: 200px;
  width: 100%;
  padding: 14px 46px 14px 12px;
  white-space: pre-wrap;
  resize: none;
  overflow-y: hidden;
}

.textInputButton {
  color: rgb(253, 254, 255);
  background-color: rgba(96, 104, 124, 1);
  box-shadow: 0 2px 6px 0 rgba(96, 104, 124, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 2px;
}
